In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from google.colab import files
data=files.upload
data=pd.read_csv("CatData.csv")
for rows in range(len(data)): #Deleteing Empty Rows
   data.dropna(inplace=True)
data[0:]
#independendent variable=Tail Length
#dependendent variable=Mass

     Tail Length (cm)  Mass (kg)
0                18.1      3.750
1                18.6      3.800
2                19.5      3.250
3                19.3      3.450
4                19.0      3.650
..                ...        ...
337              20.7      4.000
338              20.2      3.400
339              19.3      3.775
340              21.0      4.100
341              19.8      3.775

[342 rows x 2 columns]